<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a class="breadcrumb" href="{{ site.url }}">{{ site.name }}</a>
      {% assign crumbs = page.url | split: '/' %}
       {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
            <a class="current breadcrumb">{{ page.title }}</a>
        {% else %}
            <a class="breadcrumb" href="{{ site.url }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
