{% assign pages = site.html_pages | sort: 'position' %}
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% for p in pages %}
          {% if p.position > 0 %}
          <li>
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active" {% endif %}>
              {{ p.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="/" {% if p.url == page.url %}class="active" {% endif %}>
            {{ site.name }}
          </a>
        </li>
        {% for p in pages %}
          {% if p.position > 0 %}
          <li>
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active" {% endif %}>
              {{ p.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
